/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /**/
.wrap-left {
  padding: 30px 42px;
}
.wrap-center {
  width: 360px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}
.validation-error{
  display: block;
  color: red;
  font-size: 12px;
 }
.flash-alert{
  color: rgba(255,0,0,1);
  background: rgba(255,0,0,0.2);
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
}
.flash-notice{
  color: rgba(0,128,0,1);;
  background: rgba(0,128,0,0.2);
  padding:5px 0;
  border-radius: 5px;
  text-align: center;
}
.input-area{
  padding:5px 0;
}
.label{
  font-size: 12px;
}
.field-1{
  background-color: white;
  height: 35px;
  width: 300px;
  border-radius: 5px;
}
.field-2{
  background-color: white;
  height: 35px;
  width: 500px;
  border-radius: 5px;
}
.text-area{
  background-color: white;
  height: 150px;
  width: 500px;
  border-radius: 5px;
}
.button-area{
  padding:20px 0;
  clear:left;
}
.button{
  background-color: #17184b;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
.delete-alert{
  color: red;
  font-size: 12px;
}

/**/
.panel {
  display: none;
}
.field_with_errors {
  display: inline;
  border: solid 3px #e41010;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F3F3F4;
  color: #00234B;
  width:100%;
}

header {
  padding: 30px 42px;
  margin: 0 auto;
}

footer {
  padding: 30px 42px;
  background-color: #00234B;
  color: #F3F3F4;
}


.contents {
  padding: 15px 0;
}

.main {
  clear:left;
}

a {
  text-decoration: none;
  color: #00234B;
}

.logo {
  float: left;
  font-size: 24px;
  line-height: 1;
}

nav {
  padding-top: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  float: right;
  list-style: none;
  font-size: 14px;
}

.menu li {
  font-size: 12px;
  margin: 0 10px;
}

.user-name {
  margin-right: 22px
}

.footer-menu {
  color: #F3F3F4;
  font-size: 12px;
  opacity: 0.5;
}

.copyright {
  font-size: 10px;
  margin-top: 5px;
}

.edit-button {
  background-color: #00234B;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 15px;
}

.delete-button {
  background-color: #E01886;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 15px;
}