// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.work_features input, .vacation_features input{
	display: none;
}
.work_features label, .vacation_features label{
	display: inline;
	float: left;
	width: 80px;
	margin: 0px 7px;
	padding: 12px 5px;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .1s;
	border-radius: 3px;
}
.work_features input[type="checkbox"]:checked + label {
	background-color: #9ad1e7;
	color: #fff;
}
.vacation_features input[type="checkbox"]:checked + label {
	background-color: rgb(252, 207, 125);
	color: #fff;
}