// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.plan-show {
  display: flex;
}
.plan-show-left {
  display: flex;
}
.slider {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slider .slideSet {
  position: absolute;
}
.slide {
  width: 300px;
  height: 300px;
  float: left;
}
.arrow{
  margin: auto 0;
}
.plan-show-right .features{
  margin: 20px 0;
}
.plan-show-right .wf{
  width: 50px;
  padding: 9px 5px;
  margin: 5px 3px;
  background: #9ad1e7;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.plan-show-right .vf{
  width: 50px;
  padding: 9px 5px;
  margin: 5px 3px;
  background: rgb(252, 207, 125);
  color:white;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}