// Place all the styles related to the Reserve controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reserve-area{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
}
.coin-link{
  text-decoration: underline;
}