// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search-conditions{
  background-color: white;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  margin: 10px 0;
}
.search-conditions p{
  font-size: 12px;
}
.search-conditions .info{
  display: flex;
}
.search-conditions .info .prefecture{
  width: 100px;
  font-size: 20px;
}
.search-conditions .info .checkinout{
  width: 150px;
  font-size: 20px;
}
.search-conditions .info .people{
  width: 70px;
  font-size: 20px;
}
.show-contents .plan-area{
  margin-top:10px;
}
.plan-info{
  background-color: rgb(243, 235, 224);
  padding: 5px 5px;
  border-radius: 5px;
  margin: 10px 0;
}
.search-conditions .features .feature-w{
  margin: 20px 0;
}
.search-conditions .features .feature-v{
  margin: 20px 0;
}
.search-conditions .features .wf{
  width: 80px;
  padding: 13px 5px;
  margin: 5px 3px;
  background: #9ad1e7;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.search-conditions .features .vf{
  width: 80px;
  padding: 13px 5px;
  margin: 5px 3px;
  background: rgb(252, 207, 125);
  color:white;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
