// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search-conditions{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.search-conditions p{
  font-size: 12px;
}

.search-conditions .base{
  display: flex;
  padding: 15px;
}
.search-conditions .base .prefecture{
  margin: 20px;
  width: 100px;
  font-size: 22px;
}
.search-conditions .base .checkinout{
  margin: 20px;
  width: 150px;
  font-size: 22px;
}
.search-conditions .base .people{
  margin: 20px;
  width: 70px;
  font-size: 22px;
}

.search-conditions .features{
  padding: 15px;
}
.search-conditions .features .feature{
  margin: 20px;
}
.search-conditions .features .feature .work-feature{
  width: 80px;
  padding: 12px 5px;
  border-right: 1px solid #abb2b7;
  background: #bdc3c7;
  color: #555e64;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  transition: .1s;
  border-radius: 3px;
}
.search-conditions .features .feature .vacation-feature{
  width: 80px;
  padding: 12px 5px;
  border-right: 1px solid #abb2b7;
  background: #bdc3c7;
  color: #555e64;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  transition: .1s;
  border-radius: 3px;
}

.search-result-company{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
}
.slider {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slider .slideSet {
	position: absolute;
}
.slider .slide {
  width: 298px;
  height: 298px;
  float: left;
}
