// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.name-field {
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

.name-label {
    font-size: 12px;
}

.email-field {
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

.email-label {
    font-size: 12px;
}

.password-field {
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

.password-label {
    font-size: 12px;
}

.password-confirmation-field {
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

.password-confirmation-label {
    font-size: 12px;
}

.signup-field{
    background-color: #00234B;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 15px;
}

.change-field{
    background-color: #00234B;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 15px;
}

.delete-field{
    background-color: #E01886;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 15px;
}